/* Root container */
body {
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
    background-color: #1e1e1e;
    color: #eee;
    height: 100vh;
    overflow: auto;
    display: flex;
}

.app-container {
    display: flex;
    height: 100vh;
}

/* Titel */
h2 {
    text-align: center;
}

/* Filinformation */
.pdf-info {
    text-align: center;
    font-weight: bold;
    margin-top: 1rem;
}

/* Viewer + compiled container */
.viewer-sections {
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0 0 0;
    background-color: blue; /*Radera denna rad när du är klar med layouten*/
}

/* Enskild sektion */
.section {
    background-color: #272727;
    border-radius: 12px;
    border: 1px solid #444;
    padding: 1rem;
    width: 37%;
    height: 80vh;
}

/* PDF-rutor */
.pdf-viewer-container, .compiled-window {
    width: 100%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    background-color: green; /*Radera denna rad när du är klar med layouten*/
}

/* Rubriker för sektioner */
.pdf-title, .compiled-title {
    margin-bottom: 0.5rem;
    font-size: 16px;
    font-family: 'Outfit', sans-serif;
    color: white;
}

/* Knappar */
.regenerate-button,
.download-button {
    margin-top: 1.5rem;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    font-size: 14px;
    font-family: 'Outfit', sans-serif;
    color: white;
    cursor: pointer;
    border: none;
}

.regenerate-button {
    background-color: #1e1e1e;
    border: 1px solid #444;
}

.download-button {
    background-color: #465F9D;
    border: none;
}

.file-uploader {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.file-upload-row {
    display: flex;
    align-items: center;
    gap: 12px;
}

.file-input {
    display: none;
}

.browse-button {
    padding: 10px 20px;
    background-color: #465F9D;
    color: white;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Outfit', sans-serif;
    border: none;
    transition: background 0.3s ease;
    text-align: center;
}

    .browse-button:hover {
        background-color: #3a4e80;
    }

.upload-instruction {
    font-size: 14px;
    color: #ccc;
    font-family: 'Outfit', sans-serif;
}

.file-error {
    margin-top: 0.5rem;
    color: red;
    font-size: 12px;
    font-style: italic;
}

/* Sidebar till vänster */
.sidebar {
    width: 20vw;
    background-color: #1B1B1B;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 0 5px rgba(0,0,0,0.4);
}

/* Main content till höger */
.main-content {
    width: 80vw;
    padding: 0rem; /*Padding sabbar layouten*/
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: red; /*Radera denna rad när du är klar med layouten*/
}
